@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html,
body {
    overflow-x: hidden !important;
}


/*Primeira parte da pagina */

#cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 65px;
    background-color: #000822;
    border-bottom: 2px solid #ffffff;
}

#botoes-pt1 {
    align-items: center;
    display: flex;
}


#logo-container {
    display: flex;
    align-items: center;
}

#emailHeader a {
    color: #FFF;
    padding-right: 60px;
    text-decoration: none;
}

#logo img {
    width: 125px;
    height: auto;
    padding-top: 10px;
}

#nome-logo {
    color: #FFF;
    margin-left: -43px;
    padding-top: 7px;
}

#parte1 {
    background-image: linear-gradient(to left, transparent 0%, #000822 80%), url(../images/image.png);
    /*Linear-gradient é uma camada para efeitos de fadeIn*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
}


#parte1 h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: -7px;
    color: #FFFF;
}

#parte1 h3 {
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
}

#container-pt1 {
    padding-top: 245px;
    padding-left: 115px;
}

/* Fim da primeira parte da pagina */

/*/////////////////////////////////////////*/

/*Segunda parte da pagina */
#parte2 {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.70) 100%), url(../images/imagem-pt2.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#container-pt2 {
    padding-bottom: 60px;
    padding-left: calc(100% - 560px);
    margin-right: -150px;
}

#resumo-pt2 {
    padding-top: 60px;
    color: #2d4283;
    margin-bottom: 50px;
}

#categorias{
    padding-top: 0px;
}
#representacao,
#reestruturacao,
#capitacao,
#reestruturacaoCarteira,
#reestruturacaoAdm {
    display: flex;
    align-items: center;
    color: #ffffff;
    background-color: #2d4283;
    height: 70px;
}


#categorias img {
    width: 100px;
    padding-top: 10px;
    margin-left: -25px;
}

/*/////////////////////////////////////////*/
#parte3 {
    background-image: linear-gradient(to bottom, rgba(101, 142, 194, 0.95) 0%, rgba(101, 142, 194, 0.7) 100%), url(../images/business-coworkers-shaking-hands-meeting-office-focus-is-businessman.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
}

#container-form{
    padding-top: 50px;
}

#formulario {
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

#divBotoes {
    background-color: #000316;
}

#insta,
#linke {
    color: rgb(255, 255, 255);
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 65px;
    background-color: #000822;
    border-bottom: 2px solid #ffffff;
}