@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html,
body {
    overflow-x: hidd77en !important;
}

/*Primeira parte da pagina */

#cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    min-width: 570px;
    height: 65px;
    background-color: #000822;
    border-bottom: 2px solid #ffffff;
}

#botoes-pt1 {
    align-items: center;
    display: flex;
}


#logo-container {
    display: flex;
    align-items: center;
}

#emailHeader a {
    color: #FFF;
    padding-right: 60px;
    text-decoration: none;
}

#logo img {
    width: 125px;
    height: auto;
    padding-top: 10px;
}

#nome-logo {
    color: #FFF;
    margin-left: -43px;
    padding-top: 7px;
}

#parte1 {
    background-image: linear-gradient(to left, transparent 0%, #000822 80%), url(../images/image.png);
    /*Linear-gradient é uma camada para efeitos de fadeIn*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 570px;
    height: 500px;
}


#parte1 h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: -7px;
    color: #FFFF;
}

#parte1 h3 {
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
}

#container-pt1 {
    padding-top: 245px;
    padding-left: 115px;
}

/* Fim da primeira parte da pagina */

/*/////////////////////////////////////////*/

/*Segunda parte da pagina */
#parte2 {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.70) 100%), url(../images/imagem-pt2.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 570px;
}

#text-baixopt2 {
    text-align: justify;
    width: 310px;
}

#container-pt2 {
    display: flex;
}

#resumo-pt2 {
    padding-top: 60px;
    color: #2d4283;
    margin-bottom: 50px;
    max-width: 800px;
    min-width: 320px;
}

#categorias {
    padding-top: 10px;
    padding-left: 30px;
    min-width: 520px;
}

#representacao,
#reestruturacao,
#capitacao,
#reestruturacaoCarteira,
#reestruturacaoAdm {
    display: flex;
    align-items: center;
    color: #ffffff;
    background-color: #2d4283;
    height: 70px;
    margin-right: -12px;
}


#categorias img {
    margin-left: -30px;
    width: 100px;
    height: 100px;
}

#imgs-parte2 {
    margin-left: -14.5rem;
    display: flex;
    max-width: 800px;
    min-width: 230px;
}
@media (max-width: 768px) {
    #logo-grande img,
    #logo-p img {
        display: none;
    }
}

#logo-grande img {
    max-width: 600px;
    margin-left: -34.5rem;
    margin-top: 20.5rem;
}

#logo-p img {
    padding-top: 40px;
    max-width: 800px;
    margin-left: 200px;
}

@media (max-width: 768px) {
    #info-validar {
        margin-left: -210px;
    }
}

#info-validar {
    padding-left: 250px;
}

/*/////////////////////////////////////////*/
/*Terceira parte da pagina */
#parte3 {
    background-image: linear-gradient(to bottom, rgba(101, 142, 194, 0.95) 0%, rgba(101, 142, 194, 0.5) 100%), url(../images/business-coworkers-shaking-hands-meeting-office-focus-is-businessman.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    text-align: -webkit-center;
    min-width: 570px;
}

#formulario {
    padding: 30px;
    border: 3px solid white;
    border-radius: 15px;
    width: 35.3rem;
    color: white;
    height: 37.3rem;
}

#form-cargo {
    width: 30.5em;
}

#form-telefone {
    width: 45.5em;
}

#form-email {
    width: 41.5em
}

#form-nome {
    width: 35.5em;
}

#form-cnpj {
    width: 41.5em
}

/*/////////////////////////////////////////
RODAPÉ
*/
#insta,
#linke,
#zap {
    color: rgb(255, 255, 255);
}

#container-footer-esquerda {
    padding-right: 100px;
    padding-top: 10px;
}


#links {
    margin-left: 30px;
    margin-top: -20px;
}

#rodape {
    min-width: 570px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    background-color: #000822;
}